ion-card {
    margin: 15px;
}

ion-card-title {
    color: #8ecef3;
}

ion-item {
    margin-bottom: 15px;
}

ion-button {
    margin-top: 15px;
    color: #f4f4f5;
}

ion-input[readonly] {
    font-size: 1.2em;
}