<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metric Converter Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Converter</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Besaran Panjang -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Panjang (Length)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Meter (m)</p>
      <ul>
        <li>1 km = 1,000 m</li>
        <li>1 m = 100 cm</li>
        <li>1 m = 1,000 mm</li>
        <li>1 m = 3.28084 kaki (ft)</li>
        <li>1 m = 39.3701 inci (in)</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Massa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Massa (Mass)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Kilogram (kg)</p>
      <ul>
        <li>1 kg = 1,000 g</li>
        <li>1 kg = 1,000,000 mg</li>
        <li>1 kg = 2.20462 pound (lbs)</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Waktu -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Waktu (Time)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Detik (s)</p>
      <ul>
        <li>1 menit = 60 detik</li>
        <li>1 jam = 60 menit = 3,600 detik</li>
        <li>1 hari = 86,400 detik</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Arus Listrik -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Arus Listrik (Current)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Ampere (A)</p>
      <ul>
        <li>1 mA = 0.001 A</li>
        <li>1 µA = 0.000001 A</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Suhu -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Suhu (Temperature)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Kelvin (K)</p>
      <ul>
        <li>1 °C = K - 273.15</li>
        <li>1 K = °C + 273.15</li>
        <li>1 °F = (°C × 9/5) + 32</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Jumlah Zat -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jumlah Zat (Substance Amount)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Mol (mol)</p>
      <ul>
        <li>1 mol = 6.02214076 × 10²³ partikel</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Besaran Intensitas Cahaya -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Intensitas Cahaya (Luminous Intensity)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Satuan SI: Candela (cd)</p>
    </ion-card-content>
  </ion-card>

</ion-content>