ion-card {
    margin: 15px;
}

ion-card-title {
    font-size: 1.5em;
    color: #8ecef3;
}

p {
    color: rgb(194, 202, 202);
}

ion-card-content ul {
    padding-left: 20px;
    list-style-type: disc;
}