<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Developer Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Foto Profil Circle -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Developer Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="profile-container">
        <div class="profile-avatar-container">
          <ion-avatar>
            <img src="assets/image/Foto Profil.png" alt="Profile Photo" width="200px" height="200px">
          </ion-avatar>
        </div>

        <div class="profile-main-info">
          <p><strong>Nama Lengkap:</strong> Frico Rama Putung</p>
          <p><strong>NIM:</strong> 220211060359</p>
          <p><strong>Program Studi:</strong> Teknik Informatika</p>
        </div>
      </div>

      <div class="profile-additional-info">
        <a href="https://github.com/rvln" target="_blank">
          <img src="assets/icon/github.png" alt="GitHub Logo" class="social-logo github-logo">
        </a>
        <a href="https://instagram.com/fricorama" target="_blank">
          <img src="assets/icon/instagram.png" alt="Instagram Logo" class="social-logo">
        </a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>